    body,html{
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .ytp-title, .ytp-chrome-top-buttons, .ytp-watermark, .ytp-large-play-button{
        display: none;
    }   
    #mensaje {
        width: 100%;
        height: 100%;
        /*background: rgba(0,0,0,0.6);*/
        position: fixed;
        top: 0;
        left: 0;
        text-align: center;
        line-height: 62;
    }    
    .hidden{
        display: none;
    }
    .show{
        display:block !important;
    }
    .control{
        cursor: pointer;
    }
    .btn_circulo{
        border-radius: 50%;
        padding: 7px;
        font-family: sans-serif;
        background: black;
        color:white;
        display: inline;
        cursor: pointer;
    }
    .btn_circulo:hover{
        background:white;
        color:black;
    }
    .menu_secciones{
        position: fixed;
        bottom:20px;
        left: 50%;
        margin-left: -200px;
        width:400px;
        text-align: center;
    }
    /*#imagen_fin_seccion{
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.6);
        position: fixed;
        top: 0;
        left: 0;
        text-align: center;
        line-height: 62;

    }*/

    @font-face {
        font-family: 'MV Boli';
        src: url('../fonts/MVBoli.eot');
        src: url('../fonts/MVBoli.eot?#iefix') format('embedded-opentype'),
            url('../fonts/MVBoli.woff2') format('woff2'),
            url('../fonts/MVBoli.woff') format('woff'),
            url('../fonts/MVBoli.ttf') format('truetype'),
            url('../fonts/MVBoli.svg#MVBoli') format('svg');
        font-weight: normal;
        font-style: italic;
    }

    #seccion_01{
        /* background: url("../img/fondo_interfaz_01.jpg"); */
        display: none;
    }
    #seccion_02{
        display: none;
    }
    #seccion_03{

    }
    .agape{
        position:fixed;
        top: 20px;
        left: 20px;
        max-width: 430px;
        width: 100%;
        z-index: 2;
    }
    .pachamama{
        position: absolute;
        top: -90px;
        left: 110px;
        max-width: 600px;
        width: 100%;
        z-index: 2;
    }
    .ventana_pachamama{
        position: fixed;
        top: 108px;
        left: 50%;
        margin-left: -420px;
        width: 840px;
        height: 510px;
        z-index: 1;
        background-image: url(../img/ventana_pachamama.png);
        background-repeat: no-repeat;
    }
    #imagen_pachamama{
        position: absolute;
        width: 300px;
        top: 98px;
        left: 98px;
    }
    .ventana_pachamama h1{
        position: absolute;
        top: 48px;
        left: 435px;
    }
    .ventana_pachamama p{
        position: absolute;
        top: 115px;
        left: 436px;
        width: 310px;
    }
    .boton{
        cursor: pointer;
        z-index: 2;
    }
    .btn_accion_izq{
        position:fixed;
        bottom: 40px;
        left: 45px;
        max-width: 160px;
        width: 100%; 
    }
    .continuar{
        position:fixed;
        bottom: 40px;
        right: 45px;
        max-width: 160px;
        width: 100%;
    }
    .contenedor{
        width: 100%;
        height: 100%;
        background-size: 100%;
    }
    .fijo{
        position: fixed;
        width: 100%;
    }
    .cabezote{
        top:0;
        left: 0;
        background: url("../img/adorno_cabezote_fondo.png");
        height: 121px;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .pata_01{
        bottom:0;
        left: 0;
        background: url("../img/adorno_pata_fondo.png");
        height: 134px;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position-y: bottom
    }
    .pata_02{
        bottom:0;
        left: 0;
        background: url("../img/adorno_pata_fondo_02.png");
        height: 134px;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position-y: bottom
    }
    .pata_03{
        bottom:0;
        left: 0;
        background: url("../img/adorno_pata_fondo_03.png");
        height: 134px;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position-y: bottom
    }
    .contenido{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items:center;
        height: 100%;
        background: rgba(255,255,255,.5);
    }
    .titulo_casa_mia{
        
    }
    .titulo_casa_mia img{
        position: relative;
        top: -100px;
        left: 45px;
        max-width: 430px;
        width: 100%;
    }
    .boton_comenzar img{
        max-width: 350px;
        width: 100%;
    }
    .contenedor_texto_casamia{
        width: 500px;
        height: 321px;
        margin-right: 50px;
        background-image: url("../img/fondo_texto_casa_mia.png");
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .fondo_texto{
        position: relative;
        top: -100px;
        width: 365px;
        height: 169px;
        left: 72px;
        font-family: "MV Boli";
        font-size: 16px;
        line-height: 17px;
        overflow-y: auto;
        color: #5B5B5F;
    }
    .logos{
        border-radius: 31px;
        background-color: white;
        width: 512px;
        text-align: center;
        position: relative;
        top: 38px;
        left: 217px;
    }
    .menu_avance{        
        background-color: rgba(91,161,189,.5);
        right: 0;
        top:50%;
        margin-top:-155px;
        height: 310px;
        width: 100px;
        border-radius: 20px 0 0 20px;
        z-index: 2;
    }
    .boton_avance_circular{
        position: absolute;
        display: inline-block;
        width: 22px;
        height: 22px;
        background: #255E6B;
        font-family: "MV Boli";
        font-size: 11px;
        color: white;
        border-radius: 20px;
        text-decoration: none;
        text-align: center;
        line-height: 24px;
        z-index: 1;
    }
    .btn1{
        top: 6px;
        left: 47px; 
    }
    .btn2{
        top: 31px;
        left: 26px; 
    }
    .btn3{
        top: 54px;
        left: 47px; 
    }
    .btn4{
        top: 77px;
        left: 26px; 
    }
    .btn5{
        top: 101px;
        left: 49px;
    }
    .btn6{
        top: 126px;
        left: 27px; 
    }
    .btn7{
        top: 147px;
        left: 50px;
    }
    .btn8{
        top: 172px;
        left: 27px; 
    }
    .btn9{
        top: 196px;
        left: 51px; 
    }
    .btn10{
        top: 219px;
        left: 30px;  
    }
    .btn11{
        top: 242px;
        left: 52px;  
    }
    .btn12{
        top: 267px;
        left: 31px; 
    }
    .seleccionado{
        background:#F5CD21;
    }
    .sprite {
        /* https://draeton.github.io/stitches/ Herramienta para hacer el sprite*/
        background-image: url("../img/progreso_sprite_sheet.png");
        background-repeat: no-repeat;
        width: 115px;
        height: 406px;
        transform: scale(.7);
        margin-top: -45px;
    }

    .progreso_0 {
        background-position: -5px -5px;
    }

    .progreso_1 {
        background-position: -130px -5px;
    }

    .progreso_2 {
        background-position: -255px -5px;
    }

    .progreso_3 {
        background-position: -380px -5px;
    }

    .progreso_4 {
        background-position: -505px -5px;
    }

    .progreso_5 {
        background-position: -630px -5px;
    }

    .progreso_6 {
        background-position: -755px -5px;
    }

    .progreso_7 {
        background-position: -5px -415px;
    }

    .progreso_8 {
        background-position: -130px -415px;
    }

    .progreso_9 {
        background-position: -255px -415px;
    }

    .progreso_10 {
        background-position: -380px -415px;
    }

    .progreso_11 {
        background-position: -505px -415px;
    }

    .progreso_12 {
        background-position: -630px -415px;
    }
    
    #player{
        top: 0px;
        left: 0px;
        position: fixed;
        z-index: -2;
    }